awscli
botocore
boto3
cloud_sptheme
colorama
commonmark
f5-sphinx-theme>=2.0.8
gitpython
markupsafe==2.0.1
pre-commit
python-pptx
recommonmark
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-addmetahtml
sphinxcontrib-blockdiag
sphinxcontrib-mermaid
sphinxcontrib-nwdiag
sphinxcontrib-serializinghtml
sphinxcontrib-youtube
sphinxcontrib-yt
sphinxjp.themes.basicstrap>=0.5.0
sphinxprettysearchresults
tornado==6.5.5
versjon
virtualenv
yattag
